:host {
    display: block;
}

ion-content {
    --background: var(--ion-background-color);
}

ion-item {
    margin-bottom: 12px;
}

.form-actions {
    margin-top: 24px;
}

.error-text {
    text-align: center;
    margin-top: 16px;
    font-size: 0.9rem;
}