<ion-content fullscreen class="client-appointments-list dark-theme">
  <ion-header>
    <ion-toolbar>
      <ion-title>Histórico de Atendimentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Últimos Atendimentos</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let appt of pastAppointments()">
        <ion-label>
          <h3>{{ appt.startTime | date: 'fullDate' }}</h3>
          <p>Serviço: {{ appt.serviceId }}</p>
          <p>Profissional: {{ appt.employeeId }}</p>
          <p>Status: {{ appt.status }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>