<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="notifications"></ion-icon>
      Histórico de Notificações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Exibição do carregador enquanto as notificações estão sendo carregadas -->
  <div *ngIf="isLoading; else notificationsList" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando notificações...</p>
  </div>

  <!-- Exibição das notificações quando disponíveis -->
  <ng-template #notificationsList>
    <ion-list *ngIf="notifications.length > 0; else noNotifications">
      <ion-item *ngFor="let notification of notifications">
        <ion-icon slot="start" [name]="getIcon(notification.tipoNotificacao)" color="primary"></ion-icon>
        <ion-label>
          <h2>{{ notification.titulo }}</h2>
          <p>{{ notification.mensagem }}</p>
          <p>
            <ion-icon name="time-outline"></ion-icon>
            <strong>Data:</strong>
            {{ notification.criadoEm | date: 'short' }}
          </p>
          <p>
            <ion-icon [name]="getStatusIcon(notification.status)"></ion-icon>
            <strong>Status:</strong> {{ notification.status }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Caso não existam notificações -->
    <ng-template #noNotifications>
      <div class="no-notifications">
        <ion-icon name="alert-circle" color="warning"></ion-icon>
        <p>Nenhuma notificação encontrada.</p>
      </div>
    </ng-template>
  </ng-template>
</ion-content>