.view-employee-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    /* 🔹 Impede rolagem extra */

    .container {
        flex: 1;
        padding: 16px;
        overflow-y: auto;
        /* 🔹 Permite rolagem apenas se necessário */
    }

    .content-section {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        /* 🔹 Impede rolagem extra dentro do conteúdo */
        flex: 1;
        /* 🔹 Faz a seção ocupar o espaço restante */

        ion-list {
            background: transparent;
            width: 100%;
        }

        .employee-card {
            background-color: var(--ion-color-light-grey);
            border-radius: 10px;
            padding: 16px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .employee-name {
            font-size: 20px;
            font-weight: bold;
            color: var(--ion-color-black);
        }

        .employee-info {
            font-size: 16px;
            color: var(--ion-color-dark-grey);
        }

        .icon-large {
            font-size: 36px;
            color: var(--ion-color-primary);
        }

        .icon-small {
            font-size: 22px;
            color: var(--ion-color-secondary);
        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            ion-button {
                flex: 1;
                margin: 5px;
                font-size: 14px;
            }
        }

        .desempenho-card {
            background-color: var(--ion-color-white);
            border-radius: 10px;
            padding: 16px;
            margin-bottom: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            ion-card-header {
                padding-bottom: 0;
            }

            ion-card-content {
                padding-top: 0;
            }

            ion-item {
                --padding-start: 0;
                --inner-padding-end: 0;
                --background: transparent;
                box-shadow: none;
            }
        }
    }

    @media (max-width: 768px) {
        .top-section {
            flex-direction: column;

            .button-col {
                justify-content: center;
                margin-top: 10px;

                .add-button {
                    max-width: 100%;
                }
            }
        }

        .content-section {
            flex-direction: column;

            ion-col {
                width: 100%;
                max-width: 100%;
            }

            .desempenho-card {
                margin-left: 0;
                margin-bottom: 60px;
            }
        }
    }
}