<ion-content fullscreen class="client-appointments-form dark-theme">
  <ion-header>
    <ion-toolbar>
      <ion-title>Agendar Horário</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="agendar()">
    <ion-item>
      <ion-label position="stacked">Serviço</ion-label>
      <ion-select [(ngModel)]="serviceId" name="serviceId" required>
        <ion-select-option value="corte">Corte</ion-select-option>
        <ion-select-option value="barba">Barba</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Profissional</ion-label>
      <ion-select [(ngModel)]="employeeId" name="employeeId" required>
        <ion-select-option value="joao">João</ion-select-option>
        <ion-select-option value="maria">Maria</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data e Hora</ion-label>
      <ion-input [(ngModel)]="startTime" name="startTime" type="datetime-local" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" color="success">Confirmar Agendamento</ion-button>
  </form>
</ion-content>