<ion-header>
  <ion-toolbar>
    <ion-title>Minhas Mensagens</ion-title>
  </ion-toolbar>
  <ion-segment [value]="selectedSegment()" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="notificacoes">
      <ion-label>Notificações</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comunicados">
      <ion-label>Comunicados</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ng-container *ngIf="selectedSegment() === 'notificacoes'; else comunicados">
    <app-notifications-client></app-notifications-client>
  </ng-container>

  <ng-template #comunicados>
    <app-comunicados-client></app-comunicados-client>
  </ng-template>
</ion-content>