:host {
    display: block;
}

ion-header {
    --background: #3880ff;
    --color: #fff;
}

ion-segment {
    margin: 0;
    --background: #f4f5f8;
    --color-checked: #3880ff;
}

ion-content {
    padding: 16px;
}