<ion-header translucent>
    <ion-toolbar>
        <ion-title>Cadastro de Cliente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">

        <ion-card>
            <ion-card-header>
                <ion-card-title>Informações Pessoais</ion-card-title>
            </ion-card-header>
            <ion-card-content>

                <ion-item>
                    <ion-label position="floating">Nome</ion-label>
                    <ion-input formControlName="nome" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Telefone</ion-label>
                    <ion-input formControlName="telefone" type="text" mask="(00) 00000-0000"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">CPF/CNPJ</ion-label>
                    <ion-input formControlName="documento" type="text" mask="000.000.000-00"></ion-input>
                </ion-item>

            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Endereço</ion-card-title>
            </ion-card-header>
            <ion-card-content formGroupName="endereco">

                <ion-item>
                    <ion-label position="floating">Rua</ion-label>
                    <ion-input formControlName="street" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Número</ion-label>
                    <ion-input formControlName="number" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Complemento</ion-label>
                    <ion-input formControlName="complement" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Bairro</ion-label>
                    <ion-input formControlName="neighborhood" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Cidade</ion-label>
                    <ion-input formControlName="city" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Estado</ion-label>
                    <ion-input formControlName="state" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">CEP</ion-label>
                    <ion-input formControlName="postal_code" type="text" mask="00000-000"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">País</ion-label>
                    <ion-input formControlName="country" type="text"></ion-input>
                </ion-item>

            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Observações</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-textarea formControlName="observacoes" placeholder="Alguma anotação relevante sobre o cliente?"
                    autoGrow="true">
                </ion-textarea>
            </ion-card-content>
        </ion-card>

        <div class="button-container">
            <ion-button expand="block" type="submit" color="primary" [disabled]="form.invalid">
                Salvar Cliente
            </ion-button>
        </div>

    </form>

</ion-content>