@use 'variables' as *;

:host {
    ion-content {
        background-color: $background-dark;
        color: $text-light;
    }

    .employee-info {
        text-align: center;
        margin-bottom: 20px;

        h2 {
            font-size: 1.5rem;
            color: $primary-color;
        }

        p {
            font-size: 1rem;
            color: $text-muted;
        }
    }

    ion-item {
        --background: $card-background;
        --color: $text-light;
        border-radius: 12px;
        margin-bottom: 10px;
        box-shadow: 0 4px 6px $shadow-color;

        ion-label h3 {
            font-size: 1.1rem;
            color: $primary-color;
        }

        ion-label p {
            font-size: 0.9rem;
            color: $text-muted;
        }
    }

    ion-card {
        background-color: $card-background;
        color: $text-light;
        box-shadow: 0 4px 6px $shadow-color;
        border-radius: 12px;

        ion-card-content {
            text-align: center;
            font-size: 1rem;
            color: $text-muted;
        }
    }

    ion-toolbar {
        --background: $background-dark;
        --color: $primary-color;
        border-bottom: 1px solid $border-color;
    }

    ion-button {
        --color: $text-light;

        &.danger {
            --background: $error-color;
        }
    }
}