<ion-content fullscreen class="client-appointments dark-theme">
  <ion-header>
    <ion-toolbar>
      <ion-title>Próximos Agendamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirmados</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="loading()">Carregando agendamentos...</ion-card-content>

    <ion-list *ngIf="!loading() && upcomingAppointments().length > 0">
      <ion-item *ngFor="let appt of upcomingAppointments()">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ appt.startTime | date: 'fullDate' }} às {{ appt.startTime | date: 'shortTime' }}</h3>
          <p><strong>Profissional:</strong> {{ appt.employeeId }}</p>
          <p><strong>Serviço:</strong> {{ appt.serviceId }}</p>
          <p><strong>Status:</strong> {{ appt.status }}</p>
        </ion-label>
      <ion-button *ngIf="appt.id" fill="clear" color="danger" (click)="onCancel(appt.id!)">
        <ion-icon name="trash-bin" slot="icon-only"></ion-icon>
      </ion-button>

      </ion-item>
    </ion-list>

    <ion-card-content *ngIf="!loading() && upcomingAppointments().length === 0">
      Nenhum agendamento futuro encontrado.
    </ion-card-content>
  </ion-card>
</ion-content>