<ion-header translucent>
  <ion-toolbar>
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="salvarAlteracoes()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="employee().first_name" name="first_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sobrenome</ion-label>
        <ion-input [(ngModel)]="employee().last_name" name="last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="employee().email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telefone</ion-label>
        <ion-input type="tel" [(ngModel)]="employee().phone" name="phone"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-margin-top ion-text-center">
      <ion-button type="submit" expand="block" color="primary">
        Salvar Alterações
      </ion-button>
    </div>
  </form>
</ion-content>